.toolbar {
  margin-bottom: 20px;
}

.toolbar > button {
  margin-right: 10px;
  padding: 5px;
}

.toolbar > button > img {
  height: 50px;
  width: 50px;
}

td {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}
